<h1> This is a partial placeholder for the user index, where we loop through
  all available users</h1>

<article class="user">
  <header>
    <%= link_to users_profile_path do %>
      <%= image_tag user.avatar, alt: user.username %>
      <h4>Username: <%= user.username %></h4>
    <% end %>
  </header>
  <p class="location">
    City: <%= user.location %>
  </p>
</article>
