<article class="user">
  <header>
    <%= link_to 'Visit', user %>
      <%= image_tag user.avatar if user.avatar.present? %>
      <h4><%= user.username %></h4>
  </header>
  <p class="location">
    In <%= user.location %>
  </p>
</article>
