<h1> This is a partial placeholder for the user index, where we loop through
  all available users</h1>

<article class="user">
  <header>
    <%= link_to 'Show', user %>
      <%= image_tag user.avatar, alt: user.username %>
      <h4>Username: <%= user.username %></h4>
  </header>
  <p class="location">
    City: <%= user.location %>
  </p>
</article>
