<h1> This is a placeholder for index of user profiles</h1>

<section class="users-index">

  <header class="page-header">
    <h1>Users</h1>
  </header>

  <div class="users">
    <%= render @user %>
  </div>

</section>
