<body class="bgimg">
  <div class="background">
    <section class="users-index">

      <header class="page-header">
        <h1 class="h1members">Members</h1>
      </header>

      <div class="users">
        <%= render @user %>
      </div>

    </section>
  </div>
</body>
