<div>

<section class="bookstores-index">

  <header class="page-header">
    <h2>Atlantic Booksellers</h2>
  </header>

  <div class="bookstores">
    <%= render @bookstore %>
  </div>

</section>
</div>