
element.style {
    font-weight: bold;
    line-height: 75px;
    padding: 0;
  }

.navbar-default .navbar-nav>li {
    line-height: 75px;
    padding: 0 10px;
}

navbar-collapse{
  padding-top:0;
}
