// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bgimg {
  background: url('library.jpg');
  height: 600px;
}

.h1members {
  color: #4325EB;
  font-weight: bolder;
}

.user-details {
  color: pink;
}

.profile-bckg {
  background-color: lightblue;
}

// .profile-pic {
//   // max-width: 260px;
//   // position: relative;
//   // border: 1px solid #ccc;
//   // border-radius: 5px;
//   // padding: 15px;
//   // padding-bottom: 80px;
//   // margin-top: 20px;
// }

main section.users-index {

  .bgimg {
    background: url('library.jpg');
    height: 600px;
  }

  .users {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      .user {
        max-width: 260px;
        position: relative;

        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 15px;
        padding-bottom: 80px;
        margin-top: 20px;

        header img {
          max-width: 100%;
          max-height: 140px;
          margin: auto;
          display: block;
        }

        footer {
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: #EEE;
          padding: 15px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          width: 100%;
          opacity: 0.3;
          transition: all 0.3s;
        }

        aside.location {
          position: absolute;
          top: 0;
          right: 0;
          padding: 10px;
          background-color: #eee;
          border-top-right-radius: 4px;
          border-bottom-left-radius: 20px;
          font-size: 0.8em;
        }

        aside.friend {
          position: absolute;
          top: 0;
          left: 0;
          padding: 10px;
          background-color: green;
          border-top-left-radius: 4px;
          font-size: 0.8em;
        }

        &:hover {
          border-color: #999;

          footer {
            opacity: 1.0;
          }
        }
      }
  }
}

main section.users-show {
  .user-detail {
    img.main-img {
      max-width: 100%;
    }
  }
}

main section.users-new {

  aside.alert {
    color: red;
    border-style: dotted;
    margin: auto;
    padding: 1.5em;
  }
}
