<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"  crossorigin="anonymous"></script>
</head>
<nav class="navbar navbar-default" style="height: 75px; margin-bottom: 50px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img style="max-height: 50px;" alt="Read Atlantic" src="ReadAtlanticSymbol.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-top: 15px;">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-weight: bold;">Discover Local Books <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">New and Noteworthy</a></li>
            <li><a href="/classics">Atlantic Classics</a></li>
            <li><a href="#">Browse by Province</a></li>
            <li><a href="#">Browse by Publisher</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Featured Author</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Featured Publisher</a></li>
          </ul>
        </li>
        <li><a href="./bookstores" style="font-weight: bold;">Find Your Bookstore</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-weight: bold;">My Books <span class="caret"></span></span>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", current_user%></li>
            <li><%= link_to "Wishlist", "current_user/wishlist"%></li>
            <li>Bookshelf</li>
            <li>Favourites</li>
          </ul>
        </li>
       <li><a href="./users" style="font-weight: bold;">Find Friends</a></li>
       <% if current_user %>
       <li>Logged in as <%=current_user.username %>
       <li><a href="./logout" style="font-weight: bold;">Logout<a></li>
       <% else %>
       <li><a href="./login" style="font-weight: bold;">Login</a></li>
       <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</nav>
